<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
            >

	<context : property-placeholder location="classpath:application.properties"/>
	
	<bean id="1" class="Class.MyObject" name="Lettre1">
		<property name="id" value="1"></property>
		<property name="name" value="Vador"></property>
	</bean>
	
	<bean id="2" class="Class.MyObject" name="Lettre2">
		<property name="id" value="2"></property>
		<property name="name" value="Luke"></property>
		<property name="parent" ref="Lettre1"></property>
	</bean>

</beans>